<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Screen</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-links">
          <li class="logo">
            <!-- 
            <a href=""><img src="./logo.png" alt="" /></a>
            -->
            LOGO
          </li>
          <li class="toggle">
            <a href="#"
              ><img src="./menu.png" alt="Menu" width="20" height="20"
            /></a>
          </li>
          <li class="item"><a href="#">MENU 1</a></li>
          <li class="item"><a href="#">MENU 2</a></li>
          <li class="item"><a href="#">MENU 3</a></li>
          <li class="item"><a href="#">MENU 4</a></li>
        </ul>
      </nav>
    </header>
    <script src="app.js"></script>
  </body>
</html>
