:root {
  --layer1-color: white;
  --layer2-color: black;
  --font-color: black;
  --font-size-l: 25px;
  --font-size-m: 20px;
  --font-size-s: 15px;

  --border-grid: 4px solid black;
  --border-grid-item: 2px solid blue;

  /*##################  GRID DIMENSION #################*/

  /* box Grid    */
  --grid-cell-width: 280px;
  --grid-cell-height: 250px;

  /*##################  GRID ALIGNMENT #################*/
  /* Header Grid    */
  --header-padding: 10px;
  --header-col-gap: 10px;
  --header-row-gap: 10px;

  /* box Grid   */
  --grid-cell-row-gap: 10px;
  --grid-cell-col-gap: 10px;
  --grid-cell-padding: 10px;

  /*##################  GRID COLORS    #################*/
  /* Header Grid    */
  --header-bg-color: var(--layer1-color);

  /* box Grid */
  --grid-cell-bg-color: var(--layer1-color);

  /*##################  GRID ITEM COLORS #################*/

  /* Header Grid Items   */
  --header-item-fg-color: var(--font-color);
  --header-item-bg-color: var(--layer1-color);
  --header-item-border-color: var(--layer2-color);

  /* box Grid Item  */
  --grid-cell-item-bg-color: var(var(--layer2-color));
  --grid-cell-item-fg-color: var(var(--font-color));
  --grid-cell-item-border-color: var(--layer2-color);

  /*##################  GRID ITEM BORDERS #################*/
  /* Header Grid Items */
  --header-item-border-thickness: 1px;

  /* box Grid Items */
  --grid-cell-item-border-thickness: 1px;
}

body {
  background: var(--layer1-color);
}

/* for screen width > 1200*/
.ruler {
  border: var(--border-grid);
  display: grid;
  position: relative;
  grid-column-gap: var(--header-col-gap);
  grid-row-gap: var(--header-row-gap);
  /*2 columns [ each 1fr correspond to one column ]*/
  grid-template-columns: 1fr 1fr;
  background-color: var(--header-bg-color);
  padding: var(--header-padding);
}

.ruler-item {
  display: flex;
  color: var(--header-item-fg-color);
  background-color: var(--header-item-bg-color);
  border: var(--border-grid-item);
  height: 30px; /* grid row height*/
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box {
  border: var(--border-grid);
  display: grid;
  position: relative;
  grid-column-gap: var(--grid-cell-col-gap);
  grid-row-gap: var(--grid-cell-row-gap);
  /*3 columns [ each auto correspond to one column ]*/
  grid-template-columns: repeat(4, var(--grid-cell-width));
  background-color: var(--grid-cell-bg-color);
  align-items: center;
  justify-content: center;
  padding: var(--grid-cell-padding);
}

.box-item {
  display: flex;
  color: var(--grid-cell-item-fg-color);
  background-color: var(--grid-cell-item-bg-color);
  border: var(--border-grid-item);
  height: var(--grid-cell-height); /* grid height*/
  width: auto;
  padding: 20px; /* pading for text inside grid*/
  font-size: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 1200px) {
  /*Property for box Class*/
  .box {
    grid-template-columns: repeat(3, var(--grid-cell-width));
  }
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 1100px) {
  /*Property for box Class*/
  .box {
    grid-template-columns: repeat(2, var(--grid-cell-width));
  }
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 1000px) {
  /*Property for box Class*/
  .box {
    grid-template-columns: repeat(2, var(--grid-cell-width));
  }
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 900px) {
  /*Property for box Class*/
  .box {
    grid-template-columns: repeat(2, var(--grid-cell-width));
  }
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 800px) {
  /*Property for box Class*/
  .box {
    grid-template-columns: repeat(2, var(--grid-cell-width));
  }
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 700px) {
  /*Property for box Class*/
  .box {
    grid-template-columns: repeat(1, var(--grid-cell-width));
  }
  .ruler {
    grid-template-columns: 1fr;
  }
  .ruler-item {
    font-size: 20px;
  }
}

/* Property for screen width less than or equal to 500px */
@media (max-width: 500px) {
  /*Property for box Class*/
  .box {
    grid-template-columns: repeat(1, var(--grid-cell-width));
  }
  .ruler {
    grid-template-columns: 1fr;
  }
  .ruler-item {
    font-size: 20px;
  }
}
