<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- 
    <div class="ruler">
      <div class="ruler-item" id="display_width_area"></div>
      <div class="ruler-item" id="display_height_area"></div>
    </div>
  -->
    <div class="col-header">
      <div class="col-header-item1">COL LEFT</div>
      <div class="col-header-item2">COL RIGHT</div>
    </div>

    <div class="col-left">
      <div class="col-left-item">main</div>
      <div class="col-left-item-title">Title:</div>
      <div class="col-left-item-details">Details:</div>
    </div>
    <div class="col-right">
      <div class="col-right-box">
        <div class="col-right-box-item">1</div>
        <div class="col-right-box-item-title">Title:</div>
        <div class="col-right-box-item">2</div>
        <div class="col-right-box-item-title">Title:</div>
        <div class="col-right-box-item">3</div>
        <div class="col-right-box-item-title">Title:</div>
        <div class="col-right-box-item">4</div>
        <div class="col-right-box-item-title">Title:</div>
        <div class="col-right-box-item">5</div>
        <div class="col-right-box-item-title">Title:</div>
        <div class="col-right-box-item">6</div>
        <div class="col-right-box-item-title">Title:</div>
        <div class="col-right-box-item">7</div>
        <div class="col-right-box-item-title">Title:</div>
        <div class="col-right-box-item">8</div>
        <div class="col-right-box-item-title">Title:</div>
        <div class="col-right-box-item">9</div>
        <div class="col-right-box-item-title">Title:</div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
