:root {
  --layer1-color: white;
  --layer2-color: black;
  --font-color: black;
  --font-size-l: 25px;
  --font-size-m: 20px;
  --font-size-s: 15px;

  --grid-border: 4px solid black;
  --grid-item-border: 2px solid blue;
  --box-item1-width: 140px;
  --box-item1-height: 140px;
  --box-item2-height: 140px;
}

body {
  background: var(--layer1-color);
}

.ruler {
  border: var(--grid-border);
  display: grid;
  position: relative;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /*3 columns [ each auto correspond to one column ]*/
  grid-template-columns: 1fr 1fr;
  background-color: var(--layer1-color);
  padding: 11px;
}

.ruler-item {
  position: relative;
  color: var(--font-color);
  background-color: var(--layer1-color);
  border: var(--grid-item-border);
  height: 30px; /* grid row height*/
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: var(--font-size-m);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.search-section {
  border: var(--grid-border);
  display: grid;
  position: relative;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
  background-color: var(--layer1-color);
  padding: 11px;
}

.search-item {
  display: flex;
  color: var(--font-color);
  background-color: var(--layer1-color);
  border: var(--grid-item-border);
  width: 50%;
  height: 30px; /* grid row height*/
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 25%;
  margin-right: 25%;
  font-size: var(--font-size-m);
  justify-content: center;
  text-align: center;
}

.box {
  border: var(--grid-border);
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /*2 columns [ each auto correspond to one column ]*/
  grid-template-columns: var(--box-item1-width) auto;
  background-color: var(--layer1-color);
  padding: 11px;
}

.box-item1 {
  display: flex;
  background-color: var(--layer1-color);
  border: var(--grid-item-border);
  height: var(--box-item1-height); /* row height*/
  width: var(--box-item1-width);
  padding: 18px;
  font-size: var(--font-size-l);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box-item2 {
  display: grid;
  background-color: var(--layer1-color);
  border: var(--grid-item-border);
  height: var(--box-item2-height); /* row height*/
  width: auto;
  padding: 18px;
  grid-template-rows: 20% 80%;
  font-size: var(--font-size-s);
  align-items: left;
  justify-content: left;
  text-align: left;
}

.search-result-title {
  display: flex;
  background-color: var(--layer1-color);
  font-size: var(--font-size-l);
  font-weight: bold;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.search-result-details {
  display: flex;
  padding-top: 10px;
  background-color: var(--layer1-color);
  font-size: var(--font-size-s);
  align-items: left;
  justify-content: left;
  text-align: left;
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 700px) {
  /*Property for box Class*/
  .box {
    grid-template-columns: auto;
  }
  .ruler {
    grid-template-columns: 1fr;
  }
  .ruler-item {
    font-size: var(--font-size-s);
  }
  .box-item1 {
    --box-item1-height: 100px;
    --box-item1-width: 100px;
    height: var(--box-item1-height); /* row height*/
    width: var(--box-item1-width);
    font-size: var(--font-size-s);
  }

  .box-item2 {
    --box-item2-height: 100px;
    height: var(--box-item2-height); /* row height*/
    width: auto;
    font-size: var(--font-size-s);
  }
}

/* Property for screen width less than or equal to 500px */
@media (max-width: 600px) {
  /*Property for box-item-item-item-item Class*/
  .box {
    grid-template-columns: auto;
  }
  .box-item1 {
    height: 80px; /* row height*/
    width: 80px;
    font-size: var(--font-size-s);
  }

  .box-item2 {
    height: 80px; /* row height*/
    width: auto;
    font-size: var(--font-size-s);
  }
  .ruler {
    grid-template-columns: 1fr;
  }
  .ruler-item {
    font-size: 20px;
  }
  .search-result-title {
    font-size: var(--font-size-m);
  }

  .search-result-details {
    font-size: var(--font-size-s);
  }
}

/* Property for screen width less than or equal to 500px */
@media (max-width: 500px) {
  /*Property for box-item-item-item-item Class*/
  .box {
    grid-template-columns: auto;
  }
  .box-item1 {
    --box-item1-height: 80px;
    --box-item1-width: 80px;
    height: 80px; /* row height*/
    width: 80px;
    font-size: var(--font-size-s);
  }

  .box-item2 {
    height: 80px; /* row height*/
    width: auto;
    font-size: var(--font-size-s);
  }
  .search-result-title {
    font-size: var(--font-size-m);
  }

  .search-result-details {
    font-size: var(--font-size-s);
  }
  .ruler {
    grid-template-columns: 1fr;
  }
  .ruler-item {
    font-size: 20px;
  }
}
